# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/ckeditor/node_modules

# testing
/coverage

# production
/build
/build-server

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.orig
newrelic_agent.log
package-lock.json
.nyc_output
*~

log